body {
    margin: 0;
    padding: 0;
}

.N-main-body-pc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 99vh;
}

.N-main-div-pc {
    background-color: azure;
    display: flex;
    width: 99%;
    height: 500px;
    gap: 10px;
    position: fixed;
}

.flex-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-div {
    width: 800px;
    height: 500px;
    background-color: black;
}

.function-div {
    width: 40%;
    flex-direction: column;
}

.N-btns {
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.N-content-btn {
    background-color: rgb(248, 243, 238);
    padding: 10px;
    border-radius: 10px;
    border: .5 solid rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    font-size: large;
    user-select: none;
    width: 100px;
    height: 30px;
}

.N-content-btn:active {
    background-color: rgb(63, 34, 3);
}

.N-content-btn:hover {
    background-color: rgb(248, 201, 151);
}

.N-card {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    height: 200px;
    width: 96%;
    text-align: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.middle-btns {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.moving-bbj {
    position: absolute;
    top: 0px;
    left: 240px;
    z-index: 50;
    width: 50px;
    height: 50px;
    rotate: var(-10px);
    user-select: none;
    /* resize: horizontal var(10px); */
}

.small-img {
    width: 40px;
    position: relative;
    bottom: -10px;
}

.large-test {
    font-size: x-large;
    font-weight: 900;
}